.menubar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  position: fixed;
  top:0;
  left:0;
  z-index:50;
  background-color: black;
}

.menubar div:hover {
  color: #fff;
}

.menubar div {
  transition: all 0.4s ease-in-out;
  color: rgb(107 114 128);
}
