.search {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, grey , black);
    
}
input{
    width: 30%;
    height: auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 200px;
    margin-left: 500px;
}